.sidebar {
    width: 80px;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: transform 0.3s ease-in-out;

    .sidebar-logo {
      font-size: 24px;
      font-weight: bold;
    }

    .sidebar-menu {
      list-style: none;
      padding: 0;
      margin-top: 20px;
      
      
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
        text-align: center;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          background: #333;
        }

        svg {
          font-size: 32px;
          margin-bottom: 8px;
        }
      }
    }

    .sidebar-footer {
      margin-top: auto;
      padding-bottom: 40px;

      .user-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;

        .user-icon {
          font-size: 32px;
          color: white;
        }
      }
    }
}

.sidebar.open {
    transform: translateX(0);
    width: 200px; // ✅ Sidebar ochilganda kengayadi
    align-items: flex-start; // elementlar chapga tortiladi
    padding-left: 20px;
  }

/* 📱 Mobil versiyada sidebarni yashirish */
@media (max-width: 768px) {
  .sidebar {
    width: 0;
    transform: translateX(-100%); /* 📌 Yashirilgan holat */
    position: fixed;
    z-index: 1000;
    transition: transform 0.1s ease-in-out;

    .sidebar-menu li {
        flex-direction: row;
        gap: 10px;
    }
  }

  /* 📌 Sidebar ochilganda (className="open" bo‘lsa) */
  .sidebar.open {
    transform: translateX(0);
    width: 250px;
  }
}

/* Overlay: sidebar ochilganda fonni qoraytirish */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5); // Qoraytirish
    z-index: 999; // Sidebardan past, lekin sahifadan yuqori
  }
  
  /* Sidebar uchun z-index 1000 yoki undan katta bo‘lishi kerak */
  .sidebar {
    z-index: 1000;
    // ... other styles
  }
  
.menu-btn {
    position: fixed;
    left: 5px;
    top: 2px;
    background: transparent;
    color: black;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1100;
    transition: left 0.1s ease-in-out; // 🔁 Yana yumshoq o‘tish uchun
  
    @media (max-width: 768px) {
      display: block;
    }
  
    &.open {
      left: 200px; // 🔁 Sidebar 80px bo‘lsa, bu qiymat undan biroz katta bo‘lishi kerak
      color: white;
      background-color: black;
      width: 50px;
      top: 0;
    }
  }
